<h2 class="inter">Go fast. Go far.</h2>
<div class="maneuverBar">
    <div class="categories">
        <ul class="listOfCategories">
            <li >
                <button class="poppins-regular spacesBtn">
                    Spaces
                </button>
            </li>
            <li >
                <button class="poppins-regular">
                    Entertainment
                </button>
            </li>
            <li >
                <button class="poppins-regular">
                    Travel
                </button>
            </li>
            <li >
                <button class="poppins-regular">
                    Stays
                </button>
            </li>
            <li >
                <button class="poppins-regular">
                    Care
                </button>
            </li>
            <li >
                <button class="poppins-regular">
                    Apartments
                </button>
            </li>
        </ul>
    </div>
    
    <div class="filterBox">
        <button class="filter poppins-regular">
            <i class="fa-solid fa-sliders"></i>
            &nbsp;Filters
        </button>
    </div>
</div>

<ul class="spaceContainer">
    <% for(let space of onlySpaces){ %> 

        <div class="row"> 
                <div class="spaceTextBg">
                    <div class="spaceText poppins-regular">
                        Type: <%= space.type %>
                        <br>
                        Parking spots: <%= space.totalParkingSpots %>
                        <br>
                        Description: <%= space.description %>    
                    </div>
                </div>
                
                
                <a class="" href="/spaces/show/<%= space._id %>">
                    <div class="imageContainer">
                        <img src="<%= space.imageUrl %>" class="card-img-top image" alt="space image">
                         
                    </div>   
                </a>
            
            <li class="listOfNames">
                <a class="poppins-regular spaceName" href="/spaces/show/<%= space._id %>">
                    <%= space.name %>
                </a>
                
                <div class="spaceAddress poppins-regular">
                    <%= space.address %>
                </div>
                
                <div class="spaceState poppins-regular">
                    <%= space.state %>
                </div>
            </li>                   
        </div>
    
    <% } %>
</ul>



<div class="horizontalLine"></div>


<script src="/static/js/categories.js"></script>
